body{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: gray;
}

.slideshow{
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.slide{
  display: none;
  background-color: white;
  padding: 2rem;

}

.slide.active{
  display: block;
}

.controls{
  margin-left: 3rem;
}
